{% extends 'base.html' %}
{% load static %}
{% block title %} Company Login {% endblock %}

{%  block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/comp_dash.css' %}">
   {% endblock %}
{% block content %}
<div class="container py-5">

    <!-- Company Info -->
    <div class="company-card mb-4">

        <div class="row align-items-center">

            <div class="col-md-2 text-center">
                <div class="company-logo">
                    
            </div>

            <div class="col-md-10">
                <h2>{{company}}</h2>
                
            </div>

        </div>

    </div>

    <!-- Statistics -->
    <div class="row g-4">

        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{active_jobs}}</h2>
                <p>Active Jobs</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{total_applications}}</h2>
                <p>Applications</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{shortlisted}}</h2>
                <p>Shortlisted</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="dashboard-card">
                <h2>{{selected}}</h2>
                <p>Hired</p>
            </div>
        </div>

    </div>

    <!-- Buttons -->
    <div class="row mt-4">

        <div class="col-md-4 mb-4">
            <a  href="/jobs/add_notification" class="btn btn-primary w-100 py-3">
                Post New Job
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="/jobs/manage_jobs" class="btn btn-success w-100 py-3">
                Manage Jobs
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/jobs/applications_list" class="btn btn-success w-100 py-3">
                Applications
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="/employer/company_profile/" class="btn btn-dark w-100 py-3">
                Company Profile
            </a>
        </div>

    </div>

    <!-- Recent Jobs -->
    <div class="table-card mt-4">

        <h4 class="mb-3">Recent Jobs</h4>

      
            <table class="table table-hover align-middle">

                <thead class="table-primary">
                    <tr>
                        <th>Job Title</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Job Type</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th>Upgrade</th>
                      
                    </tr>
                </thead>

                <tbody>

                    {% for job in jobs %}

                    <tr>

                        <td>{{ job.title }}</td>

                        <td>{{ job.category }}</td>

                        <td>{{ job.location }}</td>

                        <td>{{ job.job_type }}</td>

                        <td>{{ job.application_deadline }}</td>

                        <td>
                            {% if job.is_active %}
                                <span class="badge bg-success">
                                    Active
                                </span>
                            {% else %}
                                <span class="badge bg-danger">
                                    Closed
                                </span>
                            {% endif %}
                             {% if job.plan_id == 1 %}
                             <span class="badge bg-success">
                                    Featured
                                </span>
                             {%endif%}
                        </td>
                      <td> 
                        {% if job.plan_id != 1 %}
                             
                        <a href="/jobs/upgrade_job/{{job.id}}" class="btn btn-sm btn-danger">
                                Upgrade
                            </a>
                            {% endif %}
                        </td>
                       

                    </tr>

                    {% empty %}

                    <tr>
                        <td colspan="7" class="text-center">
                            No jobs posted yet.
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

    </div>

</div>
</div>
{% endblock %}
