{% extends 'base.html' %}
{% load static %}
{% block title %} Company Login {% endblock %}

{%  block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/complogin.css' %}">
   {% endblock %}
{% block content %}
<section class="register-section">

    <div class="register-container">

        <!-- Left Side -->
        <div class="register-left">
            <h2>My Profile</h2>

<p>
    View and manage your personal information, resume details,
    and account settings from one place.
</p>

<div class="profile-features">

    <div class="feature-item">
        <h5>👤 Personal Information</h5>
        <p>Keep your contact details and profile information up to date.</p>
    </div>

    <div class="feature-item">
        <h5>📄 Resume & Skills</h5>
        <p>Showcase your experience, education, and professional skills.</p>
    </div>

    <div class="feature-item">
        <h5>⚙️ Account Settings</h5>
        <p>Manage your profile and update your information whenever needed.</p>
    </div>

</div>


        </div>

        <!-- Right Side -->
        <div class="register-right">

           <h2>My Profile</h2>

<p>Name: {{ profile.full_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Phone: {{ profile.phone }}</p>
<p>Location: {{ profile.location }}</p>

<a href="" class="btn btn-primary">
    Edit Profile
</a>
<a href="{% url 'change_password' %}">
    Change Password
</a>          
        </div>

    </div>

</section>

{% endblock %}